/* Базовые стили для страницы */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f9f4;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    max-width: 90%;
    transition: all 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

h1 {
    color: #2c7c2c;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Категории */
.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-item {
    margin: 15px 0;
}

.category-item a {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 12px 25px;
    border-radius: 10px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.category-item a:hover {
    background-color: #45a049;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
}

.auth-links span {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.auth-links a {
    font-size: 18px;
    margin-left: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

.auth-links:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
